#header{
    background-color: white;
    text-align: center;
    a{
        @include bp($break-small){
            width: 50%;
            display: inline-block;
            height: 5rem;
        }
    }
}

.menu-button{
    display: inline-block;
    height: 5rem;
    width: 10rem;
    font-weight: 200;
    a{
        height: 100%;
        width: 100%;
        display: inline-block;
        line-height: 5rem;
        color: black;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
        @extend %transition;
        &:hover{
            color: white;
            background-color: $menu-hover;
        }
        @include bp($break-phone){
            height: initial !important;
            width: 100% !important;
        }
    }
    @include bp($break-small){
        display: none;
        width: 100%;
        &:nth-child(3){
            margin-top: 5rem;
        }
    }
}

#logo{
    width: 7rem;
    position: relative;
    top: 5rem;
    margin-top: -4rem;
    cursor: pointer;
    padding: 0 3rem;
    @extend %transition;
    @include bp($break-phone){
        margin-top: 0;
        top: 4rem;
    }
    &:hover{
        width: 8rem;
        margin : {
            left: -0.5rem;
            right: -0.5rem;
            top: -5rem;
        }
    }
}

#title{
    padding-top: 20rem;
    height: 20rem;
    width: 100%;
    color: $menu-text; 
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text : {
        align: center;
        transform: uppercase;
    }
    background : {
        image: url('pictures/code.jpg');
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }
}