@import 'variables';
.project-link{
    background-color: $menu-color;
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
    height: 5rem;
    line-height: 5rem;
    font-size: $font;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    border-radius: 0.75rem;
    cursor: pointer;
    a{
        height: 100%;
        width: 100%;
        display: inline-block;
        color: $menu-text;
        border-radius: 0.75rem;
        @include transition;
        &:hover{
            background-color: $footer-color;
        }
    }
}
#github-link{
    color: $link-hover;
    @include transition;
    &:hover{
        color: $menu-color;
    }
}