body{
    background: white;
    color: white;
    font-family: "Coda", sans-serif;
    margin: 0;
}
#wrapper{
    display: none;
}
#menu{
    background: #0050BF;
    width: 100%;
    min-width: 50em;
    height: 5em;
    position: absolute;
    top: 0;
}
.menuButton{
    border: none;
    background: #0050BF;
    font-size: 1em;
    font-family: "Coda", sans-serif;
    float: left;
    color: white;
    height: 100%;
    width: 10em;
}
.menuButton:hover{
    background: #0070DF;
}
.menuButton:focus{
    outline: none;
}
.dropdown{
    height: 20em;
    width: 10em;
    background: transparent;
    margin-left: 30em;
}
.dropdown-content{
    display: none;
    border: none;
    background: #0070DF;
    font-size: 1em;
    font-family: "Coda", sans-serif;
    float: left;
    color: white;
    height: 5em;
    width: 10em;
}
.dropdown-content:hover{
    background: #0290FF;
}
.dropdown-content:focus{
    outline: none;
}
#about{
    background: inherit;
    color: black;
    width: 100%;
    height: 7em;
    margin-top: 6em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
#info{
    color: white;
    display: inline-block;
    background: #0050BF;
    width: 80%;
    min-width: 50em;
    height: 90%;
    padding: 1em;
}
#info p{
    /*text-align: justify;
    text-indent: 3em;*/
    text-align: center;
}

#options{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 12%;
    text-align: center;
    display: none;
}
#optionMenu{
    background: #0050BF;
    width: 80%;
    height: 100%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 0 1em black;
}
#buttonContainer{
    padding: 1em;
}
#optionClose{
    background: #0070DF;
    border: none;
    color: white;
    font-family: "Coda", sans-serif;
    padding: 1em;
}
#optionClose:hover{
    background: #0290FF;
    box-shadow: 0 0 1em black;
}
#optionClose:focus{
    outline: none;
}
