.menu-button a, .menu-logo, .menu-logo img, #review-sort, #review-system, .review-link, .right-review-link {
  transition: all 0.2s; }

body {
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300; }

p, h1, h2, h3, h4, h5, h6, ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.row.centered {
  text-align: center; }

.menu {
  background: #ffaa22;
  margin-top: 0;
  line-height: 2rem;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 500px) {
    .menu {
      display: table;
      width: 100%; } }

.menu-button {
  display: inline-block;
  margin: 0 0.75rem;
  padding: 0 1rem; }
  .menu-button a {
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 4rem;
    padding: 0 1rem;
    margin-left: -1rem;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), 1px 1px rgba(0, 0, 0, 0.25); }
    .menu-button a:hover {
      background: rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 500px) {
      .menu-button a {
        margin-left: 0;
        padding: 0; } }
  @media only screen and (max-width: 500px) {
    .menu-button {
      width: 100%;
      margin: 0;
      padding: 0; } }

.menu-logo {
  display: inline-block;
  padding: 1rem;
  margin: 0 -1.5rem;
  cursor: pointer; }
  .menu-logo:hover {
    background: rgba(0, 0, 0, 0.1); }
    .menu-logo:hover img:not(:hover) {
      max-width: 5.5rem;
      margin-top: -0.5rem;
      margin-left: -0.25rem;
      margin-right: -0.25rem; }
      @media only screen and (max-width: 500px) {
        .menu-logo:hover img:not(:hover) {
          max-width: 5.5rem;
          margin: 0;
            margin-top: 0.5rem; } }
  .menu-logo img {
    max-width: 5rem;
    margin-bottom: -3.5rem; }
    .menu-logo img:hover {
      max-width: 5.5rem;
      margin-top: -0.5rem;
      margin-left: -0.25rem;
      margin-right: -0.25rem; }
      @media only screen and (max-width: 500px) {
        .menu-logo img:hover {
          max-width: 5.5rem;
          margin: 0;
            margin-margin-top: 0.5rem; } }
    @media only screen and (max-width: 500px) {
      .menu-logo img {
        margin-top: 1rem;
        margin-bottom: 0; } }
  @media only screen and (max-width: 500px) {
    .menu-logo {
      display: table-header-group; } }

#header {
  margin: 5rem 0;
  background: #22aaff;
  text-align: center;
  color: white; }

.logo {
  text-align: center;
  padding: 2rem 0;
  background: radial-gradient(#22aaff 0%, white 80%);
  margin: auto; }

.logo img {
  max-width: 50%;
  max-height: 15rem;
  padding-top: 1rem; }

.content {
  margin: auto;
  width: 80%;
  max-width: 800px; }

.reviews {
  display: flex;
  flex-direction: column;
  min-height: 30rem; }

.new-review {
  position: absolute;
  background: #ffaa22;
  color: white;
  height: 5rem;
  line-height: 5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 5vw) 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 5vw) 100%, 0 100%);
  padding: 0 3rem 0 1rem;
  float: left;
  margin-top: -5rem; }

.review-buttons {
  white-space: nowrap; }

.sorting.row {
  text-align: center;
  width: 50%;
  display: inline-block;
  margin: auto; }

.sorting.row p {
  margin: 0;
    margin-top: 1rem; }

#review-sort, #review-system {
  border: 0;
  display: inline-block;
  width: 90%;
  margin: 1rem 0;
  background: #ffaa22;
  font: 400 1rem "Gill Sans";
  height: 2.5rem;
  text-align-last: center;
  color: white;
  cursor: pointer;
  outline: 2px solid white;
    outline-offset: -2px; }
  #review-sort:hover, #review-system:hover {
    background: #e89b1f;
    width: 100%; }

.review-link {
  height: 5rem;
  border: 2px solid #22aaff;
  box-shadow: 2px 2px 2px rgba(34, 170, 255, 0.1), 2px -2px 2px rgba(34, 170, 255, 0.1), -2px 2px 2px rgba(34, 170, 255, 0.1), -2px -2px 2px rgba(34, 170, 255, 0.1);
  margin-bottom: 1rem;
  white-space: nowrap;
  cursor: pointer; }
  .review-link a {
    color: white; }
  .review-link img {
    max-width: 10rem;
    max-height: 4.5rem;
    margin: auto;
      margin-top: 0.25rem; }
  .review-link:hover {
    background: #22aaff;
    margin-left: -1rem;
    margin-right: -1rem; }
  @media only screen and (max-width: 500px) {
    .review-link {
      height: 10rem; } }

.left-review-link {
  display: inline-block;
  height: 100%;
  width: 40%;
  background: radial-gradient(#22aaff 0%, transparent 70%);
  text-align: center; }
  @media only screen and (max-width: 500px) {
    .left-review-link {
      height: 50%;
      width: 100%; } }

.right-review-link {
  display: inline-block;
  height: 100%;
  width: 60%;
  background: #22aaff;
  -webkit-clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
  line-height: 5rem;
  color: white;
  vertical-align: top; }
  @media only screen and (max-width: 500px) {
    .right-review-link {
      height: 50%;
      width: 100%;
      -webkit-clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%); } }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), 1px 1px rgba(0, 0, 0, 0.25); }

game {
  font-style: italic;
  color: #ffaa22; }

.row {
  text-align: justify; }
  .row p {
    margin-bottom: 1.5rem;
    display: inline-block; }
  .row.score {
    background: #0088dd;
    color: white;
    margin: auto; }
  .row.heading {
    background: #22aaff;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem; }
  .row.score.heading {
    text-align: center;
    margin-bottom: 0;
    background: #22aaff; }

ul {
  margin-bottom: 2rem;
  list-style: none; }

li {
  padding-left: 1rem;
  text-indent: -1rem;
  margin-bottom: 0.25rem; }
  @media only screen and (max-width: 500px) {
    li {
      padding: 0 1rem;
      text-indent: -2rem; } }

#pros li:before {
  content: "+";
  padding-right: 5px; }

#cons li:before {
  content: "-";
  padding-right: 5px; }

#left-score {
  display: inline-block;
  height: 100%;
  float: left;
  width: 45%;
  text-align: left;
  padding-top: 1rem; }
  @media only screen and (max-width: 500px) {
    #left-score {
      height: 50%;
      width: 100%; } }

#right-score {
  display: inline-block;
  height: 100%;
  background: #ffaa22;
  -webkit-clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
  min-height: 15rem;
  line-height: 5rem;
  width: 55%;
  padding-top: 5rem;
  text-align: center; }
  @media only screen and (max-width: 500px) {
    #right-score {
      height: 50%;
      width: 100%;
      -webkit-clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%); }
      #right-score h3, #right-score h4 {
        margin-left: 0; } }

#left-score h4 {
  text-align: center; }

h1 {
  font-size: 5rem; }
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 5rem; }

h4 {
  font-size: 1.5rem;
  margin-bottom: 0; }

h5 {
  font-size: 1.15rem;
  text-align: center; }

#right-score h3, #right-score h4 {
  margin-left: 2rem;
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25), 1px 1px rgba(0, 0, 0, 0.25), 2px 2px rgba(0, 0, 0, 0.25), 3px 3px rgba(0, 0, 0, 0.25), 4px 4px rgba(0, 0, 0, 0.25); }

.played-on {
  text-align: center;
  margin: auto; }
  .played-on img {
    margin-top: 1rem;
    margin-bottom: 3rem;
    max-width: 20rem; }
    @media only screen and (max-width: 500px) {
      .played-on img {
        max-width: 10rem; } }

.footer {
  width: 100%;
  background: #22aaff;
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 5rem;
  padding: 1rem 0; }

/*# sourceMappingURL=style.css.map */
