:root{
    --logo-width: 50%;
    --main-color: #22aaff;
    --darker-main: #0088dd;
    --accent-color: #ffaa22;
    --gray: #eeeeee;
    --text-shadow-color: rgba(0, 0, 0, 0.25);
    --box-shadow-color: rgba(34, 170, 255, 0.1);
    --speed: 0.2s;
}
body{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
p, h1, h2, h3, h4, h5, h6, ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.row.centered{
    text-align: center;
}
.menu{
    text-align: center;
    background: var(--accent-color);
    margin-top: 0;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-button{
    display: inline-block;
    margin: 0 0.75rem;
    padding: 0 1rem;
}
.menu-logo{
    display: inline-block;
    padding: 1rem;
    margin: 0 -1.5rem;
    cursor: pointer;
    transition: all var(--speed);
}
.menu-logo:hover{
    background: rgba(0, 0, 0, 0.1);
}
.menu-logo img{
    max-width: 5rem;
    margin-bottom: -3.5rem;
    transition: all var(--speed);
}
.menu-logo img:hover, .menu-logo:hover img:not(:hover){
    max-width: 5.5rem;
    margin-top: -0.5rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.menu-button a{
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 4rem;
    padding: 0 1rem;
    margin-left: -1rem;
    color: white;
    text-decoration: none;
    transition: all var(--speed);
    text-shadow: 2px 2px 2px var(--text-shadow-color), 1px 1px var(--text-shadow-color);
}
.menu-button a:hover{
    background: rgba(0, 0, 0, 0.1);
}
#header{
    margin: 5rem 0;
    background: var(--main-color);
    text-align: center;
    color: white;
}
.logo{
    text-align: center;
    padding: 2rem 0;
    background: radial-gradient(var(--main-color) 0%, white 80%);
    margin: auto;
}
.logo img{
    max-width: var(--logo-width);
    max-height: 15rem;
    padding-top: 1rem;
}

.content{
    margin: auto;
    width: 80%;
    max-width: 800px;
}
.reviews{
    display: flex;
    flex-direction: column;
}
.sorting.row{
    text-align: center;
}
.sorting.row p{
    margin: 0;
    margin-top: 1rem;
}
#review-sort{
    border: 0;
    width: 100%;
    margin: 1rem 0;
    background: var(--accent-color);
    font: 400 1rem "Gill Sans";
    outline: none;
    height: 2.5rem;
    text-align-last: center;
    color: white;
    cursor: pointer;
    outline: 2px solid var(--accent-color); 
    outline-offset:-2px;
    transition: all var(--speed);
}
#review-sort:hover{
    background: rgba(232, 155, 31, 1);
}
.review-link{
    height: 5rem;
    border: 2px solid var(--main-color);
    box-shadow: 2px 2px 2px var(--box-shadow-color), 2px -2px 2px var(--box-shadow-color), -2px 2px 2px var(--box-shadow-color), -2px -2px 2px var(--box-shadow-color);
    margin-bottom: 1rem;
    transition: all var(--speed);
    cursor: pointer;
}
.review-link:hover{
    margin-left: -1rem;
    margin-right: -1rem;
    background: var(--main-color);
}
.left-review-link, .right-review-link{
    display: inline-block;
    height: 100%;
}
.left-review-link{
    width: 40%;
    background: radial-gradient(var(--main-color) 0%, transparent 70%);
    float: left;
    text-align: center;
}
.right-review-link{
    width: 60%;
    background: var(--main-color);
    -webkit-clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
    line-height: 5rem;
    color: white;
    transition: all var(--speed);
}
.review-link img{
    max-width: 10rem;
    max-height: 100%;
    margin: auto;
}
game{
    font-style: italic;
    color: var(--accent-color);
}
.row{
    text-align: justify;
}
.row p{
    margin-bottom: 1.5rem;
    display: inline-block;
}
.row.heading{
    background: var(--main-color);
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}
.row.score.heading{
    text-align: center;
    margin-bottom: 0;
    background: var(--main-color);
}
.row.score{
    background: var(--darker-main);
    color: white;
    margin: auto;
}
ul{
    margin-bottom: 2rem;
    list-style: none;
}
li{
    padding-left: 1rem;
    text-indent: -1rem;
    margin-bottom: 0.25rem;
}
#pros li:before{
    content: "+";
    padding-right: 5px;
}
#cons li:before{
    content: "-";
    padding-right: 5px;
}
#left-score, #right-score{
    display: inline-block;
    height: 100%;
}
#left-score{
    float: left;
    width: 45%;
    text-align: left;
    padding-top: 1rem;
}

#right-score{
    background: var(--accent-color);
    -webkit-clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(5vw 0, 100% 0, 100% 100%, 0 100%);
    min-height: 15rem;
    line-height: 5rem;
    width: 55%;
    padding-top: 5rem;
}
#left-score h4, #right-score{
    text-align: center;
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px var(--text-shadow-color), 1px 1px var(--text-shadow-color);
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 1.5rem;
    margin-bottom: 0;
}
h5{
    font-size: 1.15rem;
    text-align: center;
}
#right-score h3, #right-score h4{
    margin-left: 2rem;
    text-shadow: 5px 5px 2px var(--text-shadow-color), 1px 1px var(--text-shadow-color), 2px 2px var(--text-shadow-color), 3px 3px var(--text-shadow-color), 4px 4px var(--text-shadow-color);
}
.footer{
    width: 100%;
    background: var(--main-color);
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 5rem;
    padding: 1rem 0;
}

@media only screen and (max-width: 500px){
    .menu{
        display: table;
        width: 100%;
    }
    .menu-logo{
        display: table-header-group;
    }
    .menu-logo img{
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .menu-logo img:hover, .menu-logo:hover img:not(:hover){
        max-width: 5.5rem;
        margin: 0;
        margin-top: 0.5rem;
    }
    .menu-button{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .menu-button a{
        padding: 0;
        margin-left: 0;
    }
    h1{
        font-size: 4rem;
    }
    .review-link{
        height: 10rem;
    }
    .left-review-link, .right-review-link{
        height: 50%;
        width: 100%;
    }
    .right-review-link{
        -webkit-clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
    }
    #left-score, #right-score{
        height: 50%;
        width: 100%;
    }
    #right-score{
        -webkit-clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 2.5vh, 100% 0, 100% 100%, 0 100%);
    }
    #right-score h3, #right-score h4{
        margin-left: 0;
    }
    li{
        padding: 0 1rem;
        text-indent: -2rem;
    }
}